{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="iUsdtzEvBBMhDePr5h1D5cwdWDX2HMdd08po5rO2Cfo" />
    <meta name="msvalidate.01" content="623ED3D1E235F0508846DA4A2D09CF91" />
    <meta name="description" content="Download and install the latest Brother printer drivers from support.brother.com. Ensure smooth printing by keeping your Brother device drivers up to date.">
    <meta name="keywords" content="brother printer driver, download Brother printer driver, install Brother drivers, support.brother.com, Brother printer software">
    <meta name="robots" content="index, follow">
    <title>Download Brother Printer Driver – support.brother.com</title>
    {{ super() }}
{% endblock %}
