{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Download and install the latest Brother printer drivers from support.brother.com. Ensure smooth printing by keeping your Brother device drivers up to date.">
    <meta name="keywords" content="brother printer driver, download Brother printer driver, install Brother drivers, support.brother.com, Brother printer software">
    <meta name="robots" content="index, follow">
    <title>Download Brother Printer Driver – support.brother.com</title>
    {{ super() }}
{% endblock %}
